[submodule "engine/vendor/raylib"]
	path = engine/vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "engine/vendor/scribe"]
	path = engine/vendor/scribe
	url = https://github.com/VitorAu/scribe.git
